.adv-bundle-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline:none !important;
}

.bundle_name {
	text-align: center;
}

div.adv-header {
	display:block !important;
}

.pack_data .adv-final, .pack_data .adv-discount {
	float:left;
	margin-left: 5px;
}

.pack_data div.pack_name {
	float: left;
	font-weight: 600;
	font-size: 17px;
	padding: 7px;
}

.adv-main-container {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 20px;
    border-top-width: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.adv-header {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}

.adv-inner {
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
}

.adv-header .adv-option {
    float: right;
    -webkit-backface-visibility: hidden;
}

.adv-header .adv-option a {
    display: inline-block;
    margin-right: 5px;
    color: #999;
    font-size: 14px;
    outline: 0;
    -webkit-backface-visibility: hidden;
}

.adv-header .adv-option .refresh-icon-animated {
    margin-right: 5px;
    color: #2baab1;
    display: none;
}

.fa-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.fa, .adv-btn-cart:before{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-refresh:before {
    content: "\f021";
}

.adv-inner .adv-hidden-section {
    display: none;
    padding: 15px;
    background-color: #e4e4e4;
}

.adv-inner .adv-body {
    padding: 15px;
}

.adv-inner .adv-hidden-section .widget-color-list li {
    float: left;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    width: 25px;
    height: 25px;
    margin: 2px 10px 2px 0;
    border: 2px solid #fff;
    cursor: pointer;
}

.adv-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.adv-label {
    background-color: #d0d1cb;
    color: #777;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: 0.875em;
    font-weight: 600;
}

.adv-label-info {
    background-color: #9c27b0;
    color: #fff;
}

.adv-label-success {
    background-color: #8bc34a;
    color: #fff;
}

.adv-label-primary {
    background-color: #03a9f4;
    color: #fff;
}

.adv-label-warning {
    background-color: #ffc107;
    color: #fff;
}

.adv-label-danger {
    background-color: #e84e40;
    color: #fff;
}

a.adv-btn {
	color: #fff !important;
	text-decoration: none;
}

.adv-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.adv-btn {
    border: none;
    padding: 6px 12px;
    border-bottom: 2px solid;
    transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    outline: none;
    border-radius: 3px;
    background-clip: padding-box;
}

.adv-btn {
    color: #fff;
}

.adv-btn-default {
    background-color: #90a4ae;
    border-color: #607d8b;
    color: #fff;
}

.adv-btn-default:hover, .adv-btn-default:focus, .adv-btn-default:active, .adv-btn-default.active {
    background-color: #607d8b;
    border-color: #5c6667;
}

.adv-btn-primary {
    background-color: #8bc34a;
    border-color: #689f38;
}

.adv-btn-info {
    background-color: #01b9fe;
    border-color: #0298d1;
}

.adv-btn-warning {
    background-color: #ffc107;
    border-color: #ffa000;
}

.adv-btn-danger {
    background-color: #e84e40;
    border-color: #dd191d;
}

.adv-btn-link {
    border: none;
    text-decoration: none !important;
    border-color: transparent;
}

.adv-btn-link:hover, .adv-btn-link:focus, .adv-btn-link:active {
    text-decoration: underline !important;
}

.adv-btn:hover, .adv-btn:focus, .adv-btn.focus {
    text-decoration: none;
    color: fff;
}

.adv-btn-link {
    color: #337ab7;
    font-weight: normal;
    border-radius: 0;
}

.adv-btn-primary:hover, .adv-btn-primary:focus, .adv-btn-primary:active, .adv-btn-primary.active {
    background-color: #689f38;
    border-color: #1a8849;
}

.adv-btn-info:hover, .adv-btn-info:focus, .adv-btn-info:active, .adv-btn-info.active {
    background-color: #0298d1;
    border-color: #0178a5;
}

.adv-btn-warning:hover, .adv-btn-warning:focus, .adv-btn-warning:active, .adv-btn-warning.active {
    background-color: #e0b50a;
    border-color: #bd9804;
}

.adv-btn-danger:hover, .adv-btn-danger:focus, .adv-btn-danger:active, .adv-btn-danger.active {
    background-color: #dd191d;
}

.adv-btn-link, .adv-btn-link:active, .adv-btn-link.active, .adv-btn-link[disabled], fieldset[disabled] .adv-btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.adv-clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.adv-mb20 {
    margin-bottom: 20px !important;
}

.adv-tabs .adv-nav-tabs {
    position: relative;
    border-bottom: none;
}

.adv-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.adv-tabs .adv-nav-tabs > li {
    margin-bottom: 0;
}

.adv-nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.adv-nav > li {
    position: relative;
    display: block;
}

.adv-tabs .adv-nav-tabs > li:first-child a {
    border-top-left-radius: 2px;
}

.adv-tabs .adv-nav-tabs > li.adv-active > a, .adv-tabs .adv-nav-tabs > li.adv-active > a:hover, .adv-tabs .adv-nav-tabs > li.adv-active > a:focus {
    color: #030303;
    border: none;
    background: #ffffff;
}

.adv-tabs .adv-nav-tabs > li a {
    border: none;
    background: #e9e7e4;
    color: #030303;
    margin-right: -1px;
    border-radius: 0;
    border-top: 2px solid #e9e7e4;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.adv-nav-tabs > li.adv-active > a, .adv-nav-tabs > li.adv-active > a:hover, .adv-nav-tabs > li.adv-active > a:focus {
    color: #ecf0f1;
    background-color: #f2f1ef;
    border: 1px solid #95a5a6;
    border-bottom-color: transparent;
    cursor: default;
}

.adv-nav-tabs > li > a {
    margin-right: 2px;
    line-height: 2;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
}

.adv-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.adv-tabs {
	overflow-wrap: break-word;
}

.adv-tabs .adv-nav-tabs > li a:hover {
    background: #ffffff;
    border-top: 2px solid #ffffff;
}

.adv-tabs .adv-nav-tabs > li.adv-active > a, .adv-tabs .adv-nav-tabs > li.adv-active > a:hover, .adv-tabs .adv-nav-tabs > li.adv-active > a:focus {
    color: #030303;
    border: none;
    background: #ffffff;
}

.adv-tabs .adv-tab-content {
    border-top: none;
    background: #ffffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.adv-tabs .adv-tab-content .adv-tab-pane {
    padding: 15px;
}

.adv-tab-content > .adv-active {
    display: block;
}

.adv-tab-content > .adv-tab-pane {
	display: none; 
}

.adv-fade.adv-in {
    opacity: 1;
}

.adv-fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.adv-bundle-container > h2, .adv-bundle-container > #descr_short {
	margin-left: 30px;
}

.adv-bundle-container p {
    margin: 0 0 9px;
}

#opc-toast-container {
    position: fixed;
    z-index: 999999;
}

.opc-toast-top-left {
    top: 12px;
    left: 12px;
}

.opc-toast-top-right {
    top: 12px;
    right: 12px;
}

#opc-toast-container > .opc-toast {
    background-image: none!important;
}

#opc-toast-container > div {
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 200px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    background-position: 15px center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 12px #999;
    -moz-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    zoom: 1;
    filter: alpha(opacity=80);
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
}

.opc-toast-danger {
    background-color: #d73d32!important;
}

.opc-toast {
    background-color: #030303;
}

#opc-toast-container > .opc-toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #fff;
    padding-right: .5em;
    margin: auto .5em auto -1.5em;
}

button.opc-toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.opc-toast-close-button {
    position: relative;
    right: -.3em;
	/* top: -.5em; */
    float: right;
    font-size: 18px !important;
    font-family: 'FontAwesome';
    font-weight: bold !important;
    color: #fff !important;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    zoom: 1;
    filter: alpha(opacity=80);
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
}

.opc-toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.opc-toast-success {
    background-color: #03a9f4;
    border-color: #2980b9;
}

.opc-toast-info {
    background-color: #57b5e3!important;
}

.opc-toast-warning {
    background-color: #f4b400!important;
}

.opc-toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

.opc-toast-bottom-right {
    bottom: 12px;
    right: 12px;
}

.adv-form-group {
    margin-bottom: 15px;
	width: 100%;
	float: left;
}

.adv-form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2;
    color: #030303;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d2d7d3;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.adv-form-control {
    border-width: 2px;
    outline: 0;
    box-shadow: none;
}

.adv-control-label {
    padding: 0px !important;
}

.adv-img-thumb {
    /* padding: 4px; */
    line-height: 1.42857;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    border-color: #ccc !important;
}

.adv-radio, .adv-checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.adv-radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.adv-radio label:before {
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #e7ebee;
    border-radius: 50%;
    background-clip: padding-box;
    content: "";
    display: inline-block;
    height: 20px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 20px;
}

.adv-radio input[type=radio] {
    display: none;
}

.adv-radio label:after {
    border-radius: 50%;
    background-clip: padding-box;
    content: "";
    display: inline-block;
    font-size: 13px;
    height: 16px;
    left: 2px;
    position: absolute;
    text-align: center;
    top: 2px;
    transform: scale(0);
    width: 16px;
}

.adv-radio input[type=radio]:checked+label:after {
    line-height: 16px;
    transform: scale(0.63);
    transition: transform 0.1s 0s cubic-bezier(0.4,0.02,0.3,1.2);
}

.adv-radio label:hover::before {
	opacity: 1;
}

.adv-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    -webkit-transition: border-color;
    transition: border-color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid #d2d7d3;
    background: #ffffff;
}

.adv-spinner-input {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 32px;
}

.adv-spinner-button {
	cursor:pointer;
    width: 34px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    border-left: 2px solid #d2d7d3;
    -webkit-transition: border-color;
    transition: border-color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.adv-spinner-button {
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: #f2f1ef;
}

.adv-spinner-up {
    top: 0;
}

.adv-spinner-down {
    bottom: 0;
}

.fa-icon-chevron-down:before {
    content: "\f078";
}

.fa-icon-chevron-up:before {
    content: "\f077";
}

.adv-spinner-button i {
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

.adv-btn-cart {
	width: 100%;
	font-size: 22px;
}

.adv-alert.adv-alert-danger {
	text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.adv-alert {
	font-weight: bold;
}

.adv-alert-danger {
	background-color: #f3515c;
	border-color: #d4323d;
	color: white;
}

.adv-alert {
	padding: 15px;
	margin-bottom: 18px;
	border: 1px solid transparent;
	border-radius: 0px;
}

.adv-alert.adv-absolute {
	position: absolute;
	top: 200px;
	width: 90%;
	left: 5%;
	text-align: center;
	margin-bottom: 0;
	-webkit-box-shadow: 0 0 3px 0 #656565;
	-moz-box-shadow: 0 0 3px 0 #656565;
	box-shadow: 0 0 3px 0 #656565;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.pack_image {
	position:relative;
}

.adv-blur{
	filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
	pointer-events: none;
}

.adv-overlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.adv-final {
	text-align:center;
	font-weight: 600;
	font-size: 22px;
	line-height: 32px;
	font-family: "Open Sans",sans-serif;
	color: #333333;
	margin-bottom:5px;
}

.adv-discount {
	border-radius: 5px;
	text-align:left;
	display: inline-block;
	margin-right: 10px;
	padding: 3px;
	font-weight: 600;
	font-family: "Open Sans",sans-serif;
	font-size: 18px;
	line-height: 23px;
	color: white;
	background: #f13340;
	border: 1px solid #d02a2c;
	margin-right:10px;
}

.adv-original {
	text-align: right;
	padding-bottom: 15px;
	font-size: 15px;
	text-decoration: line-through;
	display: inline-block;
	font-family: "Open Sans",sans-serif;
	line-height: 23px;
	margin-left:10px;
}

.adv-center {
	text-align: center;
}

.adv-header h4{
	float: left;
	margin:0;
	padding:0;
	width: 90%;
}

.color_pick_hidden {
	display:none;
}

div#adv-page-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.8;
	filter: alpha(opacity=80);
 /* IE < 8 */
	-moz-opacity: 0.8;
	-ms-filter: "alpha(opacity=80)";
 /* IE 8 */
	z-index: 9999;
	background: #fff;
	/* display:none; */;
}

.on .opc-spinner {
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
}

.opc-spinner {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px -20px 0 0;
	border: 5px solid #cecece;
	border-radius: 100%;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}

@-moz-keyframes rotation {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(359deg);
	}
}

@-o-keyframes rotation {
	from {
		-o-transform: rotate(0deg);
	}

	to {
		-o-transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.adv-btn[disabled]{
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.owl-controls {
	position: absolute;
	bottom: 0px;
	margin: auto;
	width: 100%;
}

.owl-theme .owl-controls .owl-buttons div {
	padding: 3px 30px !important;
}

hr {
	margin-top: 9px !important;
	margin-bottom: 9px !important;
	border: 0 !important;
	border-top: 1px solid #eeeeee !important;
}

.adv-checkbox-nice {
	position: relative;
	padding-left: 15px;
}

.adv-checkbox-nice input[type=checkbox] {
	visibility: hidden;
}

.adv-checkbox-nice label {
	padding-top: 3px;
}

/*
.adv-checkbox-nice label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: transparent;
  top: 6px;
  left: 6px;
}*/

.adv-checkbox-nice label:before {
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;
	left: 1px;
	top: 1px;
	background: #ffffff;
	content: "";
	border: 2px solid #e7ebee;
	border-radius: 3px;
	background-clip: padding-box;
}

.adv-checkbox-nice input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.adv-checkbox-nice label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 12px;
	background: transparent;
}

.adv-checkbox-nice label:hover::after {
	opacity: 0.3;
}

.plus_down {
	width: 100%;
}

.adv-icon-plus-down {
	display:none;
	padding-bottom: 15px;
}

.adv-icon-plus-down:before {
	color: black;
	content: "";
	font-family: "FontAwesome";
	font-size: 25px;
	position: relative;
	left: 45%;
}

.adv-icon-plus:before {
	color: black;
	content: "";
	font-family: "FontAwesome";
	font-size: 25px;
	position: absolute;
	top: 40%;
	left: -10px;
}

.adv-plus input{
	display:none;
}

.adv-checkbox-nice, .adv-checkbox-nice label {
	cursor: pointer !important;
}

@media (max-width: 1200px) {
	.adv-nav > li {
		width: auto;
	}
}

@media (max-width: 980px) {
	.adv-nav > li {
		width: 100%;
	}
}

@media (max-width: 560px) {
	.adv-icon-plus{
		display:none;
	}
	.adv-icon-plus-down {
		display:block;
	}
	
	.adv-btn-cart {
		font-size: 18px;
	}

	.adv-nav > li {
		width: 100%;
	}
}

@media (max-width: 560px) {
	.adv-nav > li {
		width: 100%;
	}
}

.fa-search:before {
	content: "\f002";
}

button.adv-btn-cart:before, .fa-cart:before {
	content: "\f07a";
	margin-right: 5px;
}

button.adv-btn-cart.adv-disabled:before {
	height: 18px;
      content: "\f110";
      animation: 2s linear 0s normal none infinite spin;
      -webkit-animation: 2s linear 0s normal none infinite spin;
      -moz-animation: 2s linear 0s normal none infinite spin;
      border: none;
}

button.adv-btn-cart.adv-added:before {
	height: 18px;
      content: "\f00c";
      border: none;
}

.bundle_include .adv-form-group {
	margin-bottom: 0px;
}

span.adv-label {
	display:block !important;
}

.pack_data .adv-btn-view, .pack_data .adv-btn-cart {
	font-size: 14px !important;
}

.price_container {
	/* padding: 6px 12px 0px 12px; */
}

.adv-xs-1,
.adv-sm-1,
.adv-md-1,
.adv-lg-1,
.adv-xs-2,
.adv-sm-2,
.adv-md-2,
.adv-lg-2,
.adv-xs-3,
.adv-sm-3,
.adv-md-3,
.adv-lg-3,
.adv-xs-4,
.adv-sm-4,
.adv-md-4,
.adv-lg-4,
.adv-xs-5,
.adv-sm-5,
.adv-md-5,
.adv-lg-5,
.adv-xs-6,
.adv-sm-6,
.adv-md-6,
.adv-lg-6,
.adv-xs-7,
.adv-sm-7,
.adv-md-7,
.adv-lg-7,
.adv-xs-8,
.adv-sm-8,
.adv-md-8,
.adv-lg-8,
.adv-xs-9,
.adv-sm-9,
.adv-md-9,
.adv-lg-9,
.adv-xs-10,
.adv-sm-10,
.adv-md-10,
.adv-lg-10,
.adv-xs-11,
.adv-sm-11,
.adv-md-11,
.adv-lg-11,
.adv-xs-12,
.adv-sm-12,
.adv-md-12,
.adv-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.adv-xs-1,
.adv-xs-2,
.adv-xs-3,
.adv-xs-4,
.adv-xs-5,
.adv-xs-6,
.adv-xs-7,
.adv-xs-8,
.adv-xs-9,
.adv-xs-10,
.adv-xs-11 {
  float: left;
}

.adv-xs-12 {
  width: 100%;
}

.adv-xs-11 {
  width: 91.66666666666666%;
}

.adv-xs-10 {
  width: 83.33333333333334%;
}

.adv-xs-9 {
  width: 75%;
}

.adv-xs-8 {
  width: 66.66666666666666%;
}

.adv-xs-7 {
  width: 58.333333333333336%;
}

.adv-xs-6 {
  width: 50%;
}

.adv-xs-5 {
  width: 41.66666666666667%;
}

.adv-xs-4 {
  width: 33.33333333333333%;
}

.adv-xs-3 {
  width: 25%;
}

.adv-xs-2 {
  width: 16.666666666666664%;
}

.adv-xs-1 {
  width: 8.333333333333332%;
}

@media (max-width: 560px) {

}

@media (min-width: 560px) {
	.adv-sm-1,
  .adv-sm-2,
  .adv-sm-3,
  .adv-sm-4,
  .adv-sm-5,
  .adv-sm-6,
  .adv-sm-7,
  .adv-sm-8,
  .adv-sm-9,
  .adv-sm-10,
  .adv-sm-11 {
    float: left;
  }
  .adv-sm-12 {
    width: 100%;
  }
  .adv-sm-11 {
    width: 91.66666666666666%;
  }
  .adv-sm-10 {
    width: 83.33333333333334%;
  }
  .adv-sm-9 {
    width: 75%;
  }
  .adv-sm-8 {
    width: 66.66666666666666%;
  }
  .adv-sm-7 {
    width: 58.333333333333336%;
  }
  .adv-sm-6 {
    width: 50%;
  }
  .adv-sm-5 {
    width: 41.66666666666667%;
  }
  .adv-sm-4 {
    width: 33.33333333333333%;
  }
  .adv-sm-3 {
    width: 25%;
  }
  .adv-sm-2 {
    width: 16.666666666666664%;
  }
  .adv-sm-1 {
    width: 8.333333333333332%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .adv-sm-1,
  .adv-sm-2,
  .adv-sm-3,
  .adv-sm-4,
  .adv-sm-5,
  .adv-sm-6,
  .adv-sm-7,
  .adv-sm-8,
  .adv-sm-9,
  .adv-sm-10,
  .adv-sm-11 {
    float: left;
  }
  .adv-sm-12 {
    width: 100%;
  }
  .adv-sm-11 {
    width: 91.66666666666666%;
  }
  .adv-sm-10 {
    width: 83.33333333333334%;
  }
  .adv-sm-9 {
    width: 75%;
  }
  .adv-sm-8 {
    width: 66.66666666666666%;
  }
  .adv-sm-7 {
    width: 58.333333333333336%;
  }
  .adv-sm-6 {
    width: 50%;
  }
  .adv-sm-5 {
    width: 41.66666666666667%;
  }
  .adv-sm-4 {
    width: 33.33333333333333%;
  }
  .adv-sm-3 {
    width: 25%;
  }
  .adv-sm-2 {
    width: 16.666666666666664%;
  }
  .adv-sm-1 {
    width: 8.333333333333332%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .adv-md-1,
  .adv-md-2,
  .adv-md-3,
  .adv-md-4,
  .adv-md-5,
  .adv-md-6,
  .adv-md-7,
  .adv-md-8,
  .adv-md-9,
  .adv-md-10,
  .adv-md-11 {
    float: left;
  }
  .adv-md-12 {
    width: 100%;
  }
  .adv-md-11 {
    width: 91.66666666666666%;
  }
  .adv-md-10 {
    width: 83.33333333333334%;
  }
  .adv-md-9 {
    width: 75%;
  }
  .adv-md-8 {
    width: 66.66666666666666%;
  }
  .adv-md-7 {
    width: 58.333333333333336%;
  }
  .adv-md-6 {
    width: 50%;
  }
  .adv-md-5 {
    width: 41.66666666666667%;
  }
  .adv-md-4 {
    width: 33.33333333333333%;
  }
  .adv-md-3 {
    width: 25%;
  }
  .adv-md-2 {
    width: 16.666666666666664%;
  }
  .adv-md-1 {
    width: 8.333333333333332%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .adv-lg-1,
  .adv-lg-2,
  .adv-lg-3,
  .adv-lg-4,
  .adv-lg-5,
  .adv-lg-6,
  .adv-lg-7,
  .adv-lg-8,
  .adv-lg-9,
  .adv-lg-10,
  .adv-lg-11 {
    float: left;
  }
  .adv-lg-12 {
    width: 100%;
  }
  .adv-lg-11 {
    width: 91.66666666666666%;
  }
  .adv-lg-10 {
    width: 83.33333333333334%;
  }
  .adv-lg-9 {
    width: 75%;
  }
  .adv-lg-8 {
    width: 66.66666666666666%;
  }
  .adv-lg-7 {
    width: 58.333333333333336%;
  }
  .adv-lg-6 {
    width: 50%;
  }
  .adv-lg-5 {
    width: 41.66666666666667%;
  }
  .adv-lg-4 {
    width: 33.33333333333333%;
  }
  .adv-lg-3 {
    width: 25%;
  }
  .adv-lg-2 {
    width: 16.666666666666664%;
  }
  .adv-lg-1 {
    width: 8.333333333333332%;
  }
}

.adv-fl {
	float:left;
}

.adv-p3 {
	padding:3px;
}

.adv-c {
	text-align:center;
}

div.layer_cart_product_info
{
	float:left;
}