/* 
    Document   : frcallback_admin
    Created on : 27.02.2013, 13:58:30
    Author     : frozzen
    Description:
        Purpose of the stylesheet follows.
*/


#notifs_icon_wrapper {
    width: 145px !important;
}    

#frcallbacks_notif {
    background: url("../img/notif_callback.png") no-repeat scroll center top transparent;
}

#frcallbacks_notif.open_notifs {
    background-color: #FFFFFF;
    background-position: center bottom;
    border: 1px solid #000000;
    display: block;
    position: relative;
}

tr#frcallbacks_edit_form {
    background-color: #EBEDF4;
}